<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static "assets/css/output.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/font.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/app.css" %}">
  {% block style %}{% endblock style %}

  <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body class="bg-[#fcfcfc]">
    <div class="h-screen flex justify-center items-center">
      <div class="bg-white rounded-2xl shadow-box-sm w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
      <img class="w-48 mx-auto" src="{% static "assets/image/logo.png" %}" alt="">
    {% block content %}
    {% endblock content %}
    </div>

</body>
</html>