{% extends "_base_accounts.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% translate "login" %}
{% endblock page_title %}

{% block content %}
    <div class="mt-5 text-lg text-zinc-700">
        {% trans "login" %}
    </div>
    <div class="mt-8 mb-4 text-xs text-zinc-500">
        {% trans "Please enter your information " %}
    </div>
    <form action='{% url "accounts:login" %}' method='POST'>
        {% csrf_token %}
        <div class="flex flex-col gap-y-1">
            {{form|crispy}}
        </div>
        <button type='submit' class="mx-auto w-full px-2 py-3 mt-8 text-sm bg-red-500 hover:bg-red-400 transition text-gray-100 rounded-lg">
            {% trans "login" %}
        </button>
    </form>
    <div class="mt-8 mb-4 text-xs text-zinc-500">
        ورود شما به معنای پذیرش <a class="text-red-400 hover:text-red-500 transition" href=""> قوانین و مقررات</a> مدکالا میباشد.
    </div>
    </div>
{% endblock content %}