{% extends "accounts/_base_accounts.html" %}
{% load i18n %}

{% block page_title %}
    {% translate "register" %}
{% endblock page_title %}

{% block content %}
    <div class="mt-5 text-lg text-zinc-700">
        {% trans "confirm  otp code " %}
    </div>
    <div class="mt-8 mb-4 text-xs text-zinc-500">
        {% trans "Please enter your confirm code to register " %}
    </div>
    <form action='{% url "accounts:verify_code" %}' method='POST'>
        {% csrf_token %}
        <div class="flex flex-col gap-y-1">
            <input type="text" placeholder='{% trans "confirm code " %}' name="full_name" class="focus:shadow-primary-outline text-sm leading-5.6 block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-3 font-normal text-gray-700 outline-none transition-all focus:border-red-300 focus:outline-none">
        </div>
        <button type='submit' class="mx-auto w-full px-2 py-3 mt-8 text-sm bg-red-500 hover:bg-red-400 transition text-gray-100 rounded-lg">
            {% trans "submit" %}
        </button>
    </form>
    <div class="mt-8 mb-4 text-xs text-zinc-500">
        ورود شما به معنای پذیرش <a class="text-red-400 hover:text-red-500 transition" href=""> قوانین و مقررات</a> مدکالا میباشد.
    </div>
    </div>
{% endblock content %}